/**
* * Footer
*/
.footer {
    background-color: #212426;
    padding-top: 60px;
    padding-bottom: 20px;

    a {
        transition: .2s;
    }
    
    .footer__nav,
    .footer__copyright {
        padding: 0 15px;
        display: flex;
        justify-content: center;
    }

    .footer__links a {
        color: #ecab55;
    }

    .footer__nav a:hover {
        color: #fff
    }

    .footer__socials a {
        color: #fff;
    }

    .footer__socials a:hover {
        color: #ecab55;
    }

    .footer__socials li + li {
        margin-left: 50px;
    }

    .footer__socials, 
    .footer__policy {
        margin-top: 70px;
    }
    
    .footer__policy a {
        font-size: 14px;
        color: #048484;
    }

    .footer__copyright {
        margin-top: 40px;
        color: rgb(186, 186, 186);
    }
}

@media (max-width: 768px) {
    .footer {
        .footer__nav ul {
            display: block;
            text-align: center;
        }

        .footer__nav li + li {
            margin: 0;
            margin-top: 20px;
        }

        .footer__socials li + li {
            margin-top: 40px;
        }
    }
}