/**
* * Welcome
*/
.section-welcome {
    text-align: center;
    padding-top: 120px;

    .section-welcome__title {
        margin-bottom: 34px;
        letter-spacing: 1px;
    }

    .section-welcome__paragraph {
        margin: 0 auto;
        max-width: 1000px;
        font-size: 24px;
        letter-spacing: 1px;
        line-height: 36px;
    }
}

/**
* * Cards
*/
.section-cards {
    padding: 120px 0;
}


/**
* * Our Work
*/
.section-our-work {
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    
    .section-our-work__box {
        width: 1200px;
        background-color: #024e4e;
        color: #fff;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 50px;
        font-size: 24px;
    }
    
    .section-our-work__title {
        margin-bottom: 15px;
    }
    
    .section-our-work__paragraph {
        line-height: 36px;
        margin-bottom: 40px;
    }
}

/**
* * Opening Times
*/
.section-opening-times {
    padding: 120px 0;
    text-align: center;
    
    .section-opening-times__title {
        margin-bottom: 40px;
    }

    table {
        margin: 0 auto;
    }

    th, td {
        letter-spacing: 1px;
        padding: 15px;
        border-bottom: 1px solid lightgray;
    }
}

/**
* * Membership
*/
.section-membership {
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    .section-membership__box {
        width: 1200px;
        background-color: #024e4e;
        color: #fff;
        position: absolute;
        bottom: 0;
        padding: 50px;
        font-size: 24px;
        letter-spacing: 1px;
    }
    
    .section-membership__title {
        margin-bottom: 15px;
    }
    
    .section-membership__paragraph {
        line-height: 36px;
        margin-bottom: 40px;
    }
}

@media (max-width: 1200px) {
    .section-our-work .section-our-work__box {
        width: 100%;

        .section-our-work__paragraph {
            line-height: 28px;
        }
    }
    
    .section-membership .section-membership__box {
        width: 100%;

        .section-membership__paragraph {
            line-height: 28px;
        }
    }
}