@import "header.scss";
@import "hero.scss";
@import "sections.scss";
@import "card.scss";

/**
* * Reset
*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/** 
* * Body
*/
body {
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
    color: #252525;
    font-size: 18px;
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #161616;
    font-size: 19px;
}

img {
    display: block;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
}

/**
* * Shell
*/
.shell {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/**
* * Nav
*/
.nav {
    ul {
        display: flex;
    }

    ul li + li {
        margin-left: 20px;
    }
}

/**
* * Buttons
*/
.btn {
    width: 200px;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    font-family: 'Varela Round', sans-serif;
}

.btn--orange {
    font-size: 22px;
    background-color: #ecab55;
    color: #fff;
    border: none;
}

.btn--orange:hover {
    background-color: #f5bb70;
}

/**
* * Grid
*/
.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 -20px;
}

.grid .grid__col {
    max-width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 20px;
}

.grid .grid__col--1of2 {
    max-width: 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.grid .grid__col--1of3 {
    max-width: calc(100% / 3);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% / 3);
    flex: 0 0 calc(100% / 3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.grid .grid__col--1of4 {
    max-width: 25%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.grid-no-gutter {
    margin: 0;
}